<div class="alert"
     ng-class="['alert-' + (data.type || 'info')]"
     id="$index"
     data="alert">
    <div class="icon"></div>
    <div class="alert-msg">
        <div class="title">{{data.title || data.type}}</div>
        <div ng-bind-html="trustedMessage"></div>
    </div>
    <div>
        <button type="button" class="close" ng-click="close($index)">
            <span>&times;</span>
        </button>
    </div>
</div>
