@red: #F44336;
@green: #4CAF50;
@yellow: #FFEB3B;
@material-blue: #336699;

alerts {
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0,0,0,0.3);

    .alert {
        position: relative;
        top: 0;
        height: 60px;
        overflow: hidden;
        min-width: 670px;
        display: table;
        background-color: @white;
        -webkit-box-shadow: 0 2px 10px 0px rgba(25,25,25,0.5);
        -moz-box-shadow: 0 2px 10px 0px rgba(25,25,25,0.5);
        box-shadow: 0 2px 10px 0px rgba(25,25,25,0.5);

        >div {
            display: table-cell;
            vertical-align: middle;
        }

        &.ng-move,
        &.ng-enter,
        &.ng-leave {
          -webkit-transition:all ease-out 0.3s;
          transition:all ease-out 0.3s;
          -moz-transition: all ease-out 0.3s;
        }

        &.ng-leave.ng-leave-active {
            opacity:0;
        }

        &.ng-move,
        &.ng-enter {
          opacity:0;
          max-height:60px;
          transform: translateY(-60px);
          -ms-transform: translateY(-60px);
          -webkit-transform: translateY(-60px);
        }

        &.ng-leave,
        // &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
          opacity:0.7;
          min-height:60px;
          transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
        }

        .alert-msg {
            top: 0;
            bottom: 0;
            color: #000;
            padding: 10px 20px 10px 10px;
            max-width: 500px;
        }

        .alert-msg .title {
            font-weight: 700;
            text-transform: uppercase;
        }

        .close {
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
            -webkit-appearance: none;
            float: right;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
            filter: alpha(opacity=20);
            position: relative;
            color: inherit;
            right: 1rem;
            top: 0;
            bottom: 0;
            height: 100%;
            opacity: .7;
        }

        .icon {
            width: 60px;
            font-size: 2rem;
            text-align: center;
            padding-top: 10px;
            opacity: 0.7;
        }

        &.alert-info .icon { background-color: @material-blue; }
        &.alert-info .icon:before {
            content: 'i';
            .icon-font();
        }

        &.alert-success .icon { background-color: @green; }
        &.alert-success .icon:before {
            content: ':)';
            .icon-font();
        }

        &.alert-warning .icon { background-color: @yellow; }
        &.alert-warning .icon:before {
            content: '!';
            .icon-font();
        }

        &.alert-error .icon { background-color: @red; }
        &.alert-error .icon:before {
            content: 'x';
            .icon-font();
        }
    }
}﻿

@media (max-width: 768px) {
    .alert {
        margin: .7rem;
        top: 3.571rem !important;
    }
}

@media (min-width: 768px) {
    .alert {
        margin: 0.7rem auto;
    }
}

@media (min-width: 1400px) {
    .alert {
        margin: 0.7rem auto;
    }
}
